.main {
  background-color: aliceblue;
  height: 100%;
  width: 100%;
  position: relative;
}

@media print {
  .main {
    background-color: white;
    border: 1px solid #c0c0c0;
    height: var(--height);
    width: var(--width);
  }
}
