.right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.right div {
  text-align: right;
  padding-right: var(--step);
}
:is(.right, .left, .top, .bottom) h2 {
  margin: 0.25in 1in;
  font-size: 1.5rem;
}

.left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.left div {
  text-align: left;
  padding-left: var(--step);
}

.top {
  position: absolute;
  top: 0;
  left: 50%;
  transform-origin: top left;
  transform: translateX(100%) rotate(90deg);
}
.top div {
  text-align: left;
  padding-left: var(--step);
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform-origin: bottom left;
  transform: translateX(100%) rotate(-90deg);
}
.bottom div {
  text-align: left;
  padding-left: var(--step);
}
