.pickers {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pickers > div {
  text-align: center;
}

.cta {
  margin: 1rem;
  padding: 1rem;
  border-radius: 7px;
  border: 1px solid navy;
  background-color: royalblue;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

@media print {
  .pickers > div {
    display: none;
  }
}
